# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea

# MacOS useless file
.DS_Store

# video files
public/uploads/*.mp4
public/uploads/*.webm
public/uploads/*.mp3
public/uploads/*.flac
public/uploads/hidden/*.mp4
public/uploads/hidden/*.webm
public/uploads/hidden/*.mp3
public/uploads/hidden/*.flac


# Thumbnail 
public/Thumbnail/*.*